-# About William
%section.content.box.shadow#AboutWilliam

  -# Tools
  %section.about#tools
    %h1 Languages, Tools, & Methods:
    %section.tools
      %h2 Everyday use
      %p= current_page.data.tools.everyday
    %section.tools
      %h2 Learning/Exploring
      %p= current_page.data.tools.learning
    %section.tools
      %h2 In the Past (out of practice)
      %p= current_page.data.tools.past

  -# Yes, this key is here and viisble, but no secret for YOU!
  -# Its pretty benighn and non-abusable, but let me know a better place to put this

  -# Dynamically pulls currently reading books on Build
  - grKey = "LaJRAZKgpbdUzXdQl9Y8g"
  - goodreads = "https://www.goodreads.com/review/list/35020173.xml?key=#{grKey}&v=2&shelf=currently-reading"
  - @doc = Nokogiri::HTML(open(goodreads))
  - books = @doc.xpath("//review//book//title//text()")
  - authors = @doc.xpath("//review//book//author//name//text()")
  - links = @doc.css("book > id")
  %section.about#books
    %h1 Currently Reading:
    %section.books
      - books.each_with_index do |title, i|
        %a.book{href: "https://www.goodreads.com/book/show/#{links[i].text}", target: "_blank"}
          = "#{title} by #{authors[i]}"

  %section.about#occupation
    %h1 Currently Working at:
    %section.job
      %img{src: "images/logos/addison_logo.png"}
      %p
        Lead Web Developer<br />@
        %a{href: "http://www.addison.com/", target: "_blank"}
          Addison Design Co.
    %section.job
      %img{src: "images/logos/william_anderson_logo.png"}
      %p
        Private iOS<br />Development Tutor
