-# About William
%section.content.box.shadow#AboutWilliam

  -# Tools
  %section.about#tools
    %h1.band Languages, Tools, & Methods:
    - data.tools.each do |toolset|
      %section.tools
        %h2= toolset.category
        %p= toolset.contents

  -# Yes, this key is here and viisble, but no secret for YOU!
  -# Its pretty benighn and non-abusable, but let me know a better place to put this

  -# Dynamically pulls currently reading books on Build
  - grKey = "LaJRAZKgpbdUzXdQl9Y8g"
  - goodreads = "https://www.goodreads.com/review/list/35020173.xml?key=#{grKey}&v=2&shelf=currently-reading"
  - @doc = Nokogiri::HTML(open(goodreads))
  - books = @doc.xpath("//review//book//title//text()")
  - authors = @doc.xpath("//review//book//author//name//text()")
  - links = @doc.css("book > id")
  %section.about#books
    %h1.band Currently Reading:
    %section.books
      - books.each_with_index do |title, i|
        %a.book{href: "https://www.goodreads.com/book/show/#{links[i].text}", target: "_blank"}
          = "#{title} by #{authors[i]}"

  %section.about#occupation
    - data.employment.each do |employ|
      %section.employment
        %h1.band= employ.title
        - employ.jobs.each do |job|
          %section.job
            %img{src: "images/logos/"+job.logo}
            %p
              = job.title
              <br />
              = job.company
