%section#writings
  %section.box#RecentPosts
    %h1.huge Recent posts
    %div
      -# Lists out the 3 most recent blog excerpts
      - blog.articles.select {|a| a.data[:public] }[0..3].each do |article|
        %article.blog-post-preview
          %a{href: article.url}
            %h1.title
              = article.title
              %time= article.date.strftime('%b %e, %Y')
          %p= article.data.excerpt
          %a{href: article.url}
            .blog-post-preview__image{style: "background-image:url(/blog/#{article.data.cover_img});"}

    .clear
  = link_to 'Blog Roll &raquo;', '/blog.html', :relative => true, :class => "box_link center"
