!!!
%html
  = partial "/partials/_head"
  %body
    = partial "/partials/_header"
    %article.blog_post
      %header
        %h1= current_page.data.title
        %time= current_page.date.strftime('%b %e, %Y')
      %main
        =yield
      %footer
        %p
          Authored by:
          %a{href:"http://thewilliamanderson.com", rel: "author"} William Anderson
    %section.comments
      = disqus
