!!!
%html
  = partial "/partials/_head"
  %body
    = partial "/partials/_header"

    %section#writings
      %section.box#RecentPosts
        %h1.huge Blog Roll
        %div
          -# Lists out the 3 most recent blog excerpts
          - blog.articles.select {|a| a.data[:public] }.each do |article|
            %article.excerpt
              %a{href: article.url}
                %h1.title
                  = article.title
                  %time= article.date.strftime('%b %e, %Y')
              %p= article.data.excerpt
              %a.arrow_link{href: article.url}
                :plain
                  <svg>
                    <polyline fill="none" stroke="#D65B5B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                    10.417,1.5 17.284,9.429 10.417,17.359 	"/>
                    <line fill="none" stroke="#D65B5B" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="17.284" y1="9.429" x2="1.5" y2="9.429"/>
                    <image xlink:href="#{image_path('icons/red_arrow.gif')}" src="#{image_path('icons/red_arrow.gif')}" />
                  </svg>

        .clear


    = partial "/partials/_footer"
