!!!
%html
  = partial "/partials/_head"
  %body
    = partial "/partials/_header"

    = partial "/partials/home/_aboutWilliam"

    = partial "/partials/home/_writings"

    = partial "/partials/home/_activity"

    = partial "/partials/_footer"
