!!!
%html
  = partial "/partials/_head"
  %body
    = partial "/partials/_header"
    = partial "/partials/home/_writings"
    = partial "/partials/home/_projects"

    %h1.huge Recent Micro Projects
    %section.projects-container
      - data.weeklies.each do |proj|
        - if proj.home
          %a.project{href: proj.url, target: "_blank"}
            = image_tag "weeklies/"+proj.image, class: "project__image"
            %h1.project__title= proj.title
            %span.project__meta= proj.date
      = link_to 'Weekly Projects &raquo;', '/weeklies.html', :relative => true, :class => "box_link center"

    = partial "/partials/home/_aboutWilliam"
    = partial "/partials/home/_activity"
    = partial "/partials/_footer"
