!!!
%html
  = partial "/partials/_head"
  %body
    = partial "/partials/_header"

    %h1.huge Personal Library: Section Reference

    .bookshelves.grey
      %h1.band Living Room
      .shelves= partial "tables/grey_livingroom.html"

    .bookshelves.wood
      %h1.band Living Room
      .shelves= partial "tables/wood_livingroom.html"

    .bookshelves.wood
      %h1.band Atrium
      .shelves= partial "tables/atrium.html"

    .bookshelves.grey
      %h1.band Bed Room
      .shelves= partial "tables/bedroom.html"


    = partial "/partials/_footer"
